:root {
  --primary-color: #f9e2af;
  --secondary-color: #1f0e06;
  --tertiary-color: #241007;
  --text-color: hsl(41deg, 64%, 88%);
  --background-blur: 10px;
  /* --nav-background-opacity: 1; */
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --heart-glow: rgba(249, 239, 155, 0.5);
  --un-bg-opacity: 1;
  --un-border-opacity: 1;
}

body {
  font-family: "Google Sans", system-ui, sans-serif; /* I need to find a better font for this shit. */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(var(--background-blur));
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5) 70%);
  z-index: -1;
}

nav {
  background-color: rgba(31, 14, 6/*, var(--nav-background-opacity)*/);
  /*
   * backdrop-filter: blur(var(--background-blur));
   * Isn't needed if i made it opaque in the ":root" class. 
   */
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul.main-nav {
  justify-content: flex-start;
}

nav ul.social-nav {
  justify-content: flex-end;
}

nav ul li {
  margin: 0 0.75rem;
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.loading-text {
  font-size: 1.5rem; 
  font-weight: 400;
  font-family: "Google Sans", system-ui, sans-serif;
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--primary-color);
}

.loading-text #quote {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--primary-color);
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

hr {
  background-color: hsl(19 67% 10% / var(--un-bg-opacity));
  border-radius: 1rem;
  border-width: 0;
  height: 0.5rem;
  margin: 1rem 0;
  width: 100%;
}

.content-cell,
.outer-cell {
  background-color: var(--secondary-color);
  border-radius: 1.75rem;
  border: 2px solid hsl(0 15% 13% / var(--un-border-opacity));
  padding: 1rem;
  box-shadow: 0 0 10px var(--box-shadow-color);
  width: 90%;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.outer-cell {
  background-color: var(--tertiary-color);
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
  gap: 20px;
}

footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  font-weight: 800;
  padding: 10px;
  width: 100%;
  box-shadow: 0 -4px 6px var(--box-shadow-color);
  animation: glow 1.5s infinite alternate;
}

footer .heart {
  text-shadow: 0 0 5px var(--heart-glow);
  animation: glow 1.5s infinite alternate;
}

.header-set {
  padding: 0;
  margin: 0;
  text-align: center;
}

.glow,
.glow-no_anim {
  color: var(--primary-color);
  text-shadow: 0 0 17px var(--heart-glow);
}

.glow ul,
.glow li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.glow li:before {
  content: "><"; /* Made this the bullet points because why not mane. */
  margin-right: 7px;
  font-size: 17px;
  font-weight: 700;
  /* Performance muncher; fallback to font-weights.
    text-shadow: 0 0 5px var(--primary-color), 0 0 7px var(--primary-color),
        0 0 12px var(--primary-color), 0 0 17px var(--primary-color),
        0 0 22px var(--primary-color), 0 0 27px var(--primary-color),
        0 0 34px var(--primary-color);
    */
}

/* Scrapped Glow Keyframes
@keyframes glow-animation {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    }
    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.4);
    }
}
*/

/* Ah shit, why is this so confusing */

@media (max-width: 768px /* More small display shit. */) {
  .content-cell,
  .outer-cell {
    width: 100%;
  }

  .loading-text {
    font-size: 1.25rem;
  }

  .loading-text #quote {
    white-space: normal;
    word-break: break-word;
  }
}

@media (max-width: 480px /* Small displays */) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul.main-nav {
    margin-right: 0;
  }
  nav ul li {
    margin: 5px 0;
  }
  .loading-text {
    font-size: 1rem;
  }
  main {
    padding: 10px;
  }
  footer {
    font-size: 0.875rem;
    padding: 5px;
  }
}
