:root {
  --primary-color: #f9e2af;
  --secondary-color: #1f0e06;
  --tertiary-color: #241007;

  --cat-latte: #e1e2e7;
  --cat-mocha: #1e1e28;
  --cat-lavender: #b4befe;
  --cat-mauve: #cba6f7;
  --cat-red: #f38ba8;
  --cat-blue: #89b4fa;
  --cat-green: #a6e3a1;
  --cat-yellow: #f9e2af;
  --cat-teal: #94e2d5;
  --cat-sapphire: #74c7ec;
}
