/* Common Styles for Icons */
.icon {
	text-shadow: 0 0 5px rgba(var(--icon-color), 0.5),
				 0 0 10px rgba(var(--icon-color), 0.4),
				 0 0 15px rgba(var(--icon-color), 0.3);
	animation: glow 1.5s infinite alternate;
  }
  
  /* C Icon */
  .c-icon {
	--icon-color: 137, 180, 250;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* C++ Icon */
  .cpp-icon {
	--icon-color: 137, 180, 250;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* C# Icon */
  .csharp-icon {
	--icon-color: 166, 227, 161;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* JavaScript Icon */
  .js-icon {
	--icon-color: 249, 226, 175;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* Astro Icon */
  .astro-icon {
	--icon-color: 205, 214, 244;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* Svelte Icon */
  .svelte-icon {
	--icon-color: 250, 179, 135;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* Shell Icon */
  .shell-icon {
	--icon-color: 205, 214, 244;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* Linux Icon */
  .linux-icon {
	--icon-color: 249, 226, 175;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* HTML5 Icon */
  .html5-icon {
	--icon-color: 250, 179, 135;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* CSS Icon */
  .css-icon {
	--icon-color: 137, 180, 250;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* NodeJS Icon */
  .nodejs-icon {
	--icon-color: 166, 227, 161;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* GitHub Icon */
  .github-icon {
	--icon-color: 205, 214, 244;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* Git Icon */
  .git-icon {
	--icon-color: 243, 139, 168;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  /* Neovim Icon */
  .neovim-icon {
	--icon-color: 166, 227, 161;
	color: rgb(var(--icon-color));
	animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
	from {
	  text-shadow: 0 0 5px rgba(var(--icon-color), 0.5),
				   0 0 10px rgba(var(--icon-color), 0.4),
				   0 0 15px rgba(var(--icon-color), 0.3);
	}
	to {
	  text-shadow: 0 0 10px rgba(var(--icon-color), 0.7),
				   0 0 20px rgba(var(--icon-color), 0.6),
				   0 0 30px rgba(var(--icon-color), 0.5);
	}
  }
  