---
import Layout from "../components/Layout.astro";
---

<Layout>
  <h1 class="glow">404 - Page Not Found</h1>

  <script>
    console.log(`　　　　　  ___
　　　　 ／イ   フ
　　　　|  _  _|  
　 　 / ミ__xノ
　   /　　 　 |        
　　 /　 ヽ　　ﾉ         
   │　  | | |　　 　 
／￣|　　| | |　　 
| (￣ヽ_ヽ_)_)　
＼二つ`);
    console.log("Content Not Found");
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const backgrounds: string[] = [
        "assets/backgrounds/back1.png",
        "assets/backgrounds/back2.png",
        "assets/backgrounds/back3.png",
        "assets/backgrounds/back4.png",
        "assets/backgrounds/back5.png",
        "assets/backgrounds/back6.png",
        "assets/backgrounds/back7.png",
        "assets/backgrounds/back8.png",
        "assets/backgrounds/back9.png",
        "assets/backgrounds/back10.png",
        "assets/backgrounds/back11.png",
        "assets/backgrounds/back12.png",
        "assets/backgrounds/back13.png",
        "assets/backgrounds/back14.png",
        "assets/backgrounds/back15.png",
        "assets/backgrounds/back16.png",
        "assets/backgrounds/back17.png",
        "assets/backgrounds/back18.png",
        "assets/backgrounds/back19.png",
      ];

      function preloadImages(images: string[]) {
        images.forEach((image: string) => {
          const img = new Image();
          img.src = image;
        });
      }

      function getRandomBackground(exclude: string): string {
        let randomIndex: number;
        do {
          randomIndex = Math.floor(Math.random() * backgrounds.length);
        } while (backgrounds[randomIndex] === exclude);
        return backgrounds[randomIndex];
      }

      const lastBackground: string | null =
        localStorage.getItem("lastBackground");
      const selectedBackground: string = getRandomBackground(
        lastBackground || ""
      );

      document.body.style.backgroundImage = `url(${selectedBackground})`;
      localStorage.setItem("lastBackground", selectedBackground);

      preloadImages(backgrounds);
    });
  </script>
</Layout>
