---
import Layout from "../layouts/Layout.astro";
---

<!-- Nice to see you here, user. -->

<!-- Loading Screen -->
<div id="loading-screen">
  <div class="loading-text">
    <p id="quote"></p>
  </div>
</div>

<Layout id="main-content" style="display: none;">
  <!-- Introduction Section -->
  <section class="content-cell">
    <h2>Who am I?:</h2>
    <p>
      My name is <span class="glow">undefinedcode</span>. Nice to meet you! I am a technology and programming enthusiast. I am a relaxed and introverted individual who is active on Discord. You can find me at <span class="glow">@undefinedcode</span>.
    </p>
  </section>

  <!-- Friends Section -->
  <section id="friends" class="content-cell">
    <h2>Friends:</h2>
    <ul class="glow">
      <li>who_is_vee -- <i>Vee</i></li>
      <li>alocalbrit. -- <i>☩[ alxcalbrxt. ]☩ (brit)</i></li>
      <li>wtf.cynn -- <i>jothemf</i></li>
      <li>pixiesstickss -- <i>jay</i></li>
      <li>w0rm.t -- <i>sal</i></li>
    </ul>
  </section>

  <!-- Servers Section -->
  <section id="servers" class="content-cell">
    <h2>Servers:</h2>
    <ul class="glow">
      <li>H Gang Community</li>
      <li>MalwarePad's Network</li>
      <li>OpenXP</li>
      <li>bullshit🤑🙏 - <i>"hail brit!"</i></li>
    </ul>
  </section>

  <!-- Skills Section -->
  <section id="skills" class="content-cell">
    <h2>Skills:</h2>
    <div class="outer-cell">
      <h3>Languages</h3>
      <div class="skills-container">
        <i class="blue">C</i>
        <i class="light-blue">C++</i>
        <i class="green">C#</i>
        <i class="light-blue">Assembly</i>
        <i class="orange">JavaScript</i>
      </div>
      <hr />
      <h3>Frameworks</h3>
      <div class="skills-container">
        <i class="light-blue">Astro</i>
        <i class="orange">Svelte</i>
        <i class="green">NodeJS</i>
        <i class="orange">HTML5</i>
        <i class="light-blue">CSS</i>
      </div>
      <hr />
      <h3>Tools</h3>
      <div class="skills-container">
        <i class="green">Neovim</i>
        <i class="green">Nushell</i>
        <i class="light-blue">GitHub</i>
        <i class="orange">Git</i>
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const BACKGROUNDS = [
        "assets/backgrounds/back1.png",
        "assets/backgrounds/back2.png",
        "assets/backgrounds/back3.png",
        "assets/backgrounds/back4.png",
        "assets/backgrounds/back5.png",
        "assets/backgrounds/back6.png",
        "assets/backgrounds/back7.png",
        "assets/backgrounds/back8.png",
        "assets/backgrounds/back9.png",
        "assets/backgrounds/back10.png",
        "assets/backgrounds/back11.png",
        "assets/backgrounds/back12.png",
        "assets/backgrounds/back13.png",
        "assets/backgrounds/back14.png",
        "assets/backgrounds/back15.png",
        "assets/backgrounds/back16.png",
        "assets/backgrounds/back17.png",
        "assets/backgrounds/back18.png",
        "assets/backgrounds/back19.png",
    ];

    function preloadImages(images) {
      images.forEach((image) => {
        const img = new Image();
        img.src = image;
      });
    }

    function getRandomBackground(exclude) {
      let randomIndex;
      do {
        randomIndex = Math.floor(Math.random() * BACKGROUNDS.length);
      } while (BACKGROUNDS[randomIndex] === exclude);
      return BACKGROUNDS[randomIndex];
    }

    function setBackgroundImage() {
      const lastBackground = localStorage.getItem("lastBackground") || "";
      const selectedBackground = getRandomBackground(lastBackground);
      document.body.style.backgroundImage = `url(${selectedBackground})`;
      localStorage.setItem("lastBackground", selectedBackground);
      preloadImages(BACKGROUNDS);
    }

    setBackgroundImage();
  });

  const loadingScreen = document.getElementById("loading-screen");
  const mainContent = document.getElementById("main-content");
  const quoteElement = document.getElementById("quote");

  function showMainContent() {
    if (loadingScreen) {
      loadingScreen.style.opacity = "0";
      setTimeout(() => {
        if (loadingScreen) loadingScreen.style.display = "none";
        if (mainContent) mainContent.style.display = "block";
      }, 1000);
    }
  }

  const quotes = [
    "Let your worries fade in the soft embrace of a summer breeze, and let your courage bloom.",
    "As the snow falls softly on the quiet forest, so let your heart come to rest, and your spirit stand firm.",
    "When you feel it there, gain the power to persist in the whispering leaves of an ageless oak and receive the serenity to endure.",
    "Listen to courage on the quiet ripple of a mountain stream, 'Neath dawn so clear and tranquil, gain strength for a new start; gain grace to pause.",
    "In a deep, restful shade of a willow tree, allow fears to disappear and let your inner light shine.",
    "As the sun sets over a placid lake, find the peace to reflect on your journey and the courage to continue.",
	  "In the distant thunder lullaby, feel the power within and the calm before every storm.",
    "At twilight's soft gleaming, may your spirit find rest and your heart lift with quiet bravery.",
    "In the gentle sway of golden fields, find the peace to breathe deeply and the strength to stand tall.",
    "Under a canopy of stars, let your dreams soar—be brave enough to reach them yet peaceful enough to believe.",
    "In the silence of a snowy night, you can feel the serenity of the world and the resilience of your soul.",
    "Flow with the currents of life as the tide kisses the shore. Be grounded in calm and courage.",
    "Find in the subdued murmur of a hidden brook the symphony of nature and strength for the future.",
    "Amidst the tranquil loveliness of some sunlit meadow, let your heart be light and your spirit unyielding.",
    "Accept the night with peaceful grace, in quiet confidence under the watchful gaze of the moon.",
    "Find fleeting peace and courage to shine in the darkness in the delicate dance of fireflies.",
    "Let clarity bring you strength and peace, your soul, to ground.",
    "Hear the whisper of courage in the rustle of autumn leaves and the promise of renewal.",
    "Beneath the still surface of an azure sea, find the depths of your strength and the rest of your heart."
  ];

  function getRandomQuote() {
    const randomIndex = Math.floor(Math.random() * quotes.length);
    return quotes[randomIndex];
  }

  let index = 0;
  const typingSpeed = 43;

  function typeQuote() {
    const quoteText = getRandomQuote();
    function type() {
      if (quoteElement) {
        if (index < quoteText.length) {
          quoteElement.innerHTML += quoteText.charAt(index);
          index++;
          setTimeout(type, typingSpeed);
        } else {
          setTimeout(showMainContent, 1000);
        }
      }
    }
    type();
  }

  document.addEventListener("DOMContentLoaded", typeQuote);
</script>
