---
import "../styles/app.css";
import "../styles/colors.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=dm-mono:400,500,70:width0">    
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>undefinedcode</title>
  </head>
  <body class="tui-body">
    
    <!-- Main Content Area -->
    <main class="tui-main">
      <slot />
    </main>
    
    <!-- Footer -->
    <footer class="tui-footer">
      <p>Made with <span class="tui-heart">&#10084;</span> by undefinedcode.</p>
    </footer>
  </body>
</html>

